---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";
import { FaAddressCard, FaEnvelope, FaPhoneAlt } from "react-icons/fa";

const entry = (await getEntry(
  "contact",
  "-index"
)) as CollectionEntry<"contact">;
const { Content } = await render(entry);
const { contact_form_action } = config.params;
const { address, email, phone } = config.contactinfo;
const { title, description, meta_title, image } = entry.data;
const contactItems = [
  {
    label: "Location",
    value: address,
    icon: FaAddressCard,
  },
  {
    label: "Email",
    value: email,
    icon: FaEnvelope,
  },
  {
    label: "Phone",
    value: phone,
    icon: FaPhoneAlt,
  },
].filter((item) => item.value);
const hasContactForm = contact_form_action && contact_form_action !== "#";
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <h1 set:html={markdownify(title)} class="h2 page-heading" />
      <div class="row md:gx-5 gy-5">
        <div class={hasContactForm ? "sm:col-5 md:col-4" : "md:col-8"}>
          <div class="content mb-8">
            <Content />
          </div>
          {
            contactItems.length > 0 && (
              <>
                <p class="mb-8 text-2xl font-bold text-text-dark">
                  Contact Info
                </p>
                <ul class="flex flex-col space-y-8">
                  {contactItems.map((item) => {
                    const Icon = item.icon;
                    return (
                      <li>
                        <div class="flex text-text-dark items-center text-xl">
                          <Icon className="mr-3 text-primary" />
                          <p class="font-semibold">{item.label}</p>
                        </div>
                        <p
                          set:html={markdownify(item.value)}
                          class="mt-2 leading-5 pl-8 content"
                        />
                      </li>
                    );
                  })}
                </ul>
              </>
            )
          }
        </div>
        {
          hasContactForm && (
            <div class="sm:col-7 md:col-8">
              <form
                class="contact-form row gy-2 justify-center"
                method="POST"
                action={contact_form_action}
              >
                <div class="lg:col-6">
                  <label class="mb-2 block" for="name">
                    Name <span class="text-red-600">*</span>
                  </label>
                  <input
                    class="form-input w-full"
                    name="name"
                    type="text"
                    required
                  />
                </div>
                <div class="lg:col-6">
                  <label class="mb-2 block" for="email">
                    Email <span class="text-red-600">*</span>
                  </label>
                  <input
                    class="form-input w-full"
                    name="email"
                    type="email"
                    required
                  />
                </div>
                <div class="col-12">
                  <label class="mb-2 block" for="subject">Subject</label>
                  <input class="form-input w-full" name="subject" type="text" />
                </div>
                <div class="col-12">
                  <label class="mb-2 block" for="message">
                    Message <span class="text-red-600">*</span>
                  </label>
                  <textarea
                    class="form-textarea w-full"
                    name="message"
                    rows="4"
                  />
                </div>
                <div class="col-12">
                  <button class="btn btn-primary mt-2">Submit Now</button>
                </div>
              </form>
            </div>
          )
        }
      </div>
    </div>
  </section>
</Base>
